<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
  </head>
  <body class="bg-zinc-900 w-full min-h-screen grid place-items-center">
    <h1 class="text-zinc-500 font-semibold text-2xl"><%= errorMessage %></h1>
  </body>
</html>
