<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
  </head>
  <body class="selection:bg-teal-300">
    <main class="px-4 sm:px-8 md:px-12 lg:px-16 py-10">
      <form action="POST">
        <div class="flex shadow-sm h-10 w-full md:w-[550px] lg:min-w-[670px]">
          <input
            type="text"
            placeholder="https://example.com"
            class="w-[80%] border border-teal-600 focus:outline-none px-2 min-h-full rounded-md border-r-0 rounded-r-none caret-emerald-700"
            name="url"
          />
          <button
            class="bg-teal-600 text-white w-[20%] min-h-full font-semibold rounded-r-md border border-teal-600"
          >
            Generate
          </button>
        </div>
      </form>

      <h1 class="mt-4 text-2xl text-teal-800 font-semibold">Activities</h1>

      <table class="rounded-sm border border-slate-400 my-5 w-full md:w-[640px] lg:min-w-[820px]">
        <thead class="bg-slate-100 text-slate-500">
          <tr class="*:px-3 *:text-left">
            <th>ID</th>
            <th>URL</th>
            <th>Short URL</th>
            <th>Clikes</th>
          </tr>
        </thead>
        <tbody>
          <tr class="*:px-3 *:text-left">
            <td>1</td>
            <td class="max-w-44 truncate">www.google.comsdfadfadf</td>
            <td>www.google.com</td>
            <td>3</td>
          </tr>  
        </tbody>
      </table>

    </main>
  </body>
</html>
